.swiper-button-next {
  right: 45px !important;
}
.swiper-button-prev {
  left: 45px !important;
}
.swiper-button-prev:after,
.swiper-button-next:after {
  color: #ffba08 !important;
}

.swiper-pagination-bullet {
  width: 16px !important;
  height: 16px !important;
  background: #999999 !important;
  opacity: 1 !important;
}

.swiper-pagination-bullet-active {
  background: #ffba08 !important;
}

@media (max-width: 30em) {
  .swiper-button-next {
    right: 15px !important;
  }
  .swiper-button-prev {
    left: 15 !important;
  }

  .swiper-button-next:after,
  .swiper-button-prev:after {
    font-size: 1.2rem !important;
  }

  .swiper-pagination-bullet {
    width: 8px !important;
    height: 8px !important;
  }
}
