.swiper-button-next {
  right: 2.8125rem !important;
}
.swiper-button-prev {
  left: 2.8125rem !important;
}
.swiper-button-prev:after,
.swiper-button-next:after {
  color: #ffba08 !important;
}

.swiper-pagination-bullet {
  width: 1rem !important;
  height: 1rem !important;
  background: #999999 !important;
  opacity: 1 !important;
}

.swiper-pagination-bullet-active {
  background: #ffba08 !important;
}

@media (max-width: 30em) {
  .swiper-button-next {
    right: 1rem !important;
  }
  .swiper-button-prev {
    left: 1rem !important;
  }

  .swiper-button-next:after,
  .swiper-button-prev:after {
    font-size: 1.2rem !important;
  }

  .swiper-pagination-bullet {
    width: 0.5rem !important;
    height: 0.5rem !important;
  }
}
